.userTitle {
  h2 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    display: flex;
    color: var(--utitle-color);
    @media (width > 767px) {
      font-size: 1.5rem;
    }
  }
  h3 {
    color: var(--main-color);
    font-size: 0.75rem;
    line-height: 1.5;
    &::before {
      content: "@";
    }
    @media (width > 767px) {
      font-size: 1rem;
    }
  }

  span {
    color: var(--ujoined-color);
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 6px;
    &::before {
      content: "Joined";
    }
    &:nth-child(2n)::before {
      content: "Last update";
    }
    @media (width > 767px) {
      font-size: 1rem;
      justify-self: end;
    }

    @media (width > 1024px) {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
      gap: 2px 10px;
    }
  }
}

.containerFlex {
  display: flex;
  justify-content: space-between;
}
